.about {
    /* height: 80vh; */
    /* display: flex;
    justify-content:center; */
    /* align-items: flex-start; */
    /* background-color: purple; */
    /* padding-top: 5%; */
  }
  
  .a-sub {
    width: 100%;
    font-weight: 100px;
  }

  .about-left.avatar{
    box-shadow:blue 0 0 0.2px 0px;
  }

  .about-left > .avatar:hover{
    cursor: pointer;
  }

  .about-right{
    width: 40%;
  }
  
  /* @media screen and (max-width:480px) {
      .about {
        height: 70vh;
        display: block;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        background-color: purple;
      }
      .about-left{
        display: none;
        text-align: center;
      }
      .about-right{
        color: white;
        width: 100%;
        padding-top: 40px !important;
        padding: 10px;
      }

      .a-desc{
        width: 100%;
        font-size: 15px;
      }

      .a-sub {
        width: 100%;
        font-size: 15px;
      }

      .a-title{
        text-align: center;
      }
  } */